/* Basic body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    background-color: #516552;
}
.navbar .nav-link {
    color: white;
}
.navbar .navbar-brand {
    color: white;
}

/* Hero section styling */
.jumbotron {
    background-color: rgb(239, 216, 220);
    /* background-image: url('bg2.jpg'); */
    background-size: cover fixed;
    background-position: center;
    padding: 100px 0;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}
.jumbotron h1{
    font-size: 3rem;
}
.jumbotron p {
    font-size: 1.2rem;
}

/* Menu section styling */
.menu {
    padding: 60px 0;
    background-color: rgb(71, 95, 71);
}
.menu h2{
    margin-bottom: 20px;
}
.menu .col-md-4 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Testimonials section styling */
.testimonials{
    margin-top: 20px;
}
.testimonials blockquote {
    font-style: italic;
    background-color: rgb(239, 216, 220);
    padding: 20px;
    border-radius: 10px;
}

/* Contact section */
.contact {
    padding: 60px 0;
    background-color: #516552;
}